{{page-title "Lista de Eventos"}}

<div class="card-header">
    <div class="d-flex align-items-center">
        <div>Eventos</div>
        <div class="flex-fill d-flex justify-content-end">
            <LinkTo @route="events.add" class="btn btn-primary btn-sm">Adicionar</LinkTo>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <p class="m-0 p-0">Lista de eventos cadastrados</p>
        </div>
        <div class="col-md-12 mt-3">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Qtde de Pessoas</th>
                            <th>Localização</th>
                            <th>Data do Cadastro</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each @model.rows as |event|}}
                        <tr>
                            <td>{{event.id}}</td>
                            <td>{{event.name}}</td>
                            <td>{{event.qtyPeople}}</td>
                            <td>{{event.location}}</td>
                            <td>{{event.startedAt}}</td>
                            <td>
                                <LinkTo @route="events.edit"  @model={{event}} class="btn btn-primary btn-sm">Editar</LinkTo>
                                <button type="button" class="btn btn-danger btn-sm" onclick={{action 'deleteEvent' event}}>Excluir</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>